.DS_Store
demo/framework/
documentation/.python-version
documentation/.venv
examples/example_fmri/
examples/example_simulation/
examples/example_smri/
external/
manuscript/
projects/
scripts/
*.asv
*.m~
